{% extends 'base.html' %}
{% load static %}
{% block title%} 
	<title>Créer un séjour</title>
{% endblock %}
<!-- rajout dans la balise 'head' de 'base.html' du lien vers le fichier CSS creer_sejour.css -->
{% block css%} 
	<link rel="stylesheet" href={% static 'css/creer_sejour.css'%}>
{% endblock %}

<!-- on ajoute le bloc correspondant au formulaire de création de séjour -->
{% block content%} 
	<body>
		<h5 class="form-title">SÉJOUR</h5>
	    <!-- Conteneur principal du formulaire -->
	    <form method="POST">
	        {% csrf_token %}
			<div class="form-container">
	        <!-- Titre du formulaire -->
	        
	            <!-- Groupe de champs pour la date d'entrée 
	            Attention l'attribut 'name' doit correspondre exactement au nom du champ du modèle Séjour-->
	            <div class="form-group">
	                <label for="date-entree">Date entrée</label>
	                <input type="date" name="date_entree" id="date-entree" class="date-input">
	            </div>
	            <!-- Groupe de champs pour la date de sortie -->
	            <div class="form-group">
	                <label for="date-sortie">Date sortie</label>
	                <input type="date" name="date_sortie" id="date-sortie" class="date-input">
	            </div>
	            <!-- Groupe de champs pour le motif du séjour -->
	            <div class="form-group">
	                <label for="motif">Motif du séjour</label>
	                <textarea id="motif" name="motif" class="motif-input" placeholder="Veuillez indiquer la raison du séjour svp"></textarea>
	            </div>
	            <!-- Groupe de champs pour la spécialité -->
	            <div class="form-group">
	                <label for="choix_specialite">Choisissez une spécialité :</label>
	                <select id="choix_specialite" name="specialite" onchange="fetchMedecins()">
	                    <option value="" selected disabled>-- Sélectionnez une spécialité --</option>
		                {% for specialite in specialites %}
		                	<option value="{{ specialite.specialite_id }}">{{ specialite.nom }}</option>
		                {% endfor %}
	                </select>
	            </div>
	            <!-- Groupe de champs pour le médecin -->
	            <div class="form-group">
		            <label for="choix_medecin">Choisissez un médecin :</label>
					<select id="choix_medecin" name="medecin">
                        <!-- Option par défaut pour le champ des médecins -->
                        <option value="">-- --</option>
					</select>
	            </div>
	            
	        </div>
		    <!-- Bouton de soumission -->
		        {% if user.is_authenticated %}
	                <button type="submit" class="submit-button">VALIDER</button>
		        {% else %}
			        <button type="submit" class="submit-dismissed" disabled>VALIDER</button>
			        <p>Vous devez être connecté pour soumettre ce formulaire. <a href="#">Se connecter</a></p>
		    {% endif %}
		</form>   
	<script>
    // Déclare une fonction asynchrone pour récupérer les médecins en fonction de la spécialité choisie
    // On ajoute le commentaire ci-dessous pour indiquer à Pycharm les propriétés attendues dans 'medecin'
    /**
	 * @typedef {Object} Medecin
	 * @property {number} id - L'identifiant unique du médecin
	 * @property {string} nom - Le nom du médecin
	 * @property {string} prenom - Le prénom du médecin
	 */
	
	
    async function fetchMedecins() {
        // Récupère l'ID de la spécialité sélectionnée
        const specialiteId = document.getElementById('choix_specialite').value;
        // Référence au champ de sélection des médecins
        const medecinSelect = document.getElementById('choix_medecin');

        // Vérifie si un ID de spécialité a été sélectionné
        if (specialiteId) {
            try {
                // Envoie une requête GET à l'URL appropriée pour récupérer les médecins en fonction de l'ID de la spécialité
	            const url = `/soignemoi/get_medecins/${specialiteId}/`;
                const response = await fetch(url);
                // Vérifie que la réponse est correcte (statut HTTP 200-299)
                if (!response.ok) {
                    throw new Error('Erreur lors de la récupération des médecins');
                }

                // Convertit la réponse en format JSON
                const data = await response.json();
                {#console.log(data);#}

                // Vide les options actuelles du champ de sélection des médecins
                medecinSelect.innerHTML = '<option value="">-- Sélectionnez un médecin --</option>';

                // Parcourt les données reçues et ajoute chaque médecin en tant qu'option au champ de sélection
                data.forEach(medecin => {
                    // On crée maintenant l'élément option comme enfant de l'élément <select> représenté par medecinSelect
                    const option = document.createElement('option'); // Crée un nouvel élément <option>
                    option.value = medecin.id; // Définit la valeur de l'option comme l'ID du médecin
                    option.textContent = `Dr ${medecin.nom} ${medecin.prenom}`; // Affiche le nom complet du médecin
                    medecinSelect.appendChild(option); // Ajoute l'option au champ de sélection
                });
            } catch (error) {
                // Affiche une erreur dans la console en cas de problème avec la requête
                console.error('Erreur:', error);
            }
        }
    }
	</script>
</body>
	
{% endblock %}


