{% extends 'base.html' %}

{% block content%} 
	<h1>Choisissez votre séjour</h1>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input id="fetch-call" type="submit" value="Créer séjour">
		</form>
	<!--
	<script type="text/javascript">
        $(document).ready(function(){
            $('#id_specialite').change(function(){
                var url = '{% url "soignemoiwebsite:ajax_load_medecins" %}';
                var specialiteId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'specialite': specialiteId
                    },
                    success: function (data) {
                        $("#id_medecin").html('');
                        data.forEach(function(medecin) {
                            $("#id_medecin").append(new Option(medecin.nom, medecin.id));
                        });
                    }
                });
            });
        });
	</script> -->
	<script>
    document.getElementById('id_specialite').addEventListener('change', function() {
        const specialiteId = this.value;
        let csrfTokenValue = document.querySelector("[name=csrfmiddlewaretoken]").value;
        const url = '{% url "soignemoiwebsite:ajax_load_medecins" %}';
        

        fetch(url, {
            method: 'POST',
	        headers: {
                'content-type': 'application/json',
		        'X-CSRFToken': csrfTokenValue,
	        },
	        body: JSON.stringify({specialite: specialiteId}) // il faut stringifier les données pour les exploiter
        })
        .then(response => response.json()) // Première instruction then
        .then(data => { // Seconde instruction then
            const medecinSelect = document.getElementById('id_medecin');
            medecinSelect.innerHTML = '<option value="">----------</option>'; // affiche les tirets en attendant la sélection
            // on boucle sur le queryset medecins de la spécialité pour les afficher
	        data.forEach(medecin => {
                medecinSelect.innerHTML += `<option value="${medecin.id}">${medecin.nom}</option>`;
            });
        });
    });

</script>
	
{% endblock %}